<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}W!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}

{% block aside %}
    <aside>
        {% include 'admin/sidebar.html.twig' %}
    </aside>
{% endblock aside %}

{% endblock body %}

{% block javascripts %}{% endblock %}
</body>
</html>





{{ admin }}


</body>
</html>